[submodule "dota2rails"]
	path = dota2rails
	url = git@github.com:grschafer/dota2rails.git
[submodule "alacrity"]
	path = alacrity
	url = git@github.com:grschafer/alacrity.git
[submodule "matchurls"]
	path = matchurls
	url = git@github.com:grschafer/matchurls.git
