# {{ ansible_managed }}

[db]
host: {{ db.host }}
port: {{ db.port }}
db_name: {{ db.name }}
match_collection: {{ db.collections.matches }}
league_collection: {{ db.collections.leagues }}
errorgame_collection: {{ db.collections.errorgames }}
userupload_collection: {{ db.collections.useruploads }}

[api]
key: {{ steam_api_key }}
# leagues that are free/open or that you have ticket for
# 65006 = TI3
# 65013 = MLG Columbus $50,000
accessible_leagues: {{ accessible_leagues }}

[web]
hostname: {{ hostname }}

[s3]
access_key: {{ s3.alacrity.access_key }}
secret_key: {{ s3.alacrity.secret_key }}
bucket: {{ s3.buckets.match_data }}

[matchurls]
host: {{ matchurls.host }}
port: {{ matchurls.port }}
