# {{ ansible_managed }}

# app secret
SECRET_TOKEN: {{ web.app_secret }} # your rake secret generated token

# steam
STEAM_WEB_API_KEY: {{ steam_api_key }} # your steam web api key

# db
MONGO_HOST: {{ db.host }} # hostname/ip of mongo server
MONGO_PORT: {{ db.port }} # port of mongo on mongo server
# collections
DB_NAME: {{ db.name }}
MATCH_COL: {{ db.collections.matches }}
LEAGUE_COL: {{ db.collections.leagues }}
ERRORGAME_COL: {{ db.collections.errorgames }}
USERUPLOAD_COL: {{ db.collections.useruploads }}

# s3
ACCESS_KEY: {{ s3.dota2rails.access_key }} # s3 user access key
SECRET_KEY: {{ s3.dota2rails.secret_key }} # s3 user secret key
BUCKET: {{ s3.buckets.replays }} # s3 bucket name
